* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 10px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.5rem;
  color: #e0edc5;
  text-transform: uppercase;
}

main {
  height: 100vh;
  background-color: lightblue;
  background-image: url("bg-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 4rem;
  color: orangered;
  text-align: center;
}

#mc_embed_signup input.email,
#mc_embed_signup input.button {
  background-color: transparent;
  width: 250px;
  margin-top: 1.5rem;
  font-size: 1.25rem;
  text-transform: capitalize;
  border: 3px solid #443850;
}

#mc_embed_signup input.email {
  padding: 1rem;
}

#mc_embed_signup input.button {
  height: 3rem;
}

#mc_embed_signup input.button:hover {
  transition: 0.25s ease-in;
  background-color: #443850;
}
